
#content {
	text-align: center;
	margin-top: 150px;
}

#play-btn {
	font-family: 'Press Start 2P', cursive;
	background-color: #006F99;
	color: white;
	font-size: 18px;
	height: 50px;
	width: 200px;
	outline: none;
	border: none;
	border-radius: 2px;
}

#play-btn:hover {
	cursor: pointer;
	background-color: #00445D;
}

#links {
	margin: 50px 0px;
}

#links a {
	/*display: inline-block;*/
	margin: 0px 10px;
}

#links a:hover {
	color: #9A9114;
}
