<div class="remodal" 
	data-remodal-id="how-to-play-modal" 
	data-remodal-options="hashTracking: false, closeOnOutsideClick: true" 
	id="how-to-play"
	>
	<button data-remodal-action="close" class="remodal-close"></button>
	<h1 class="large">How to Play</h1>
	<ul>
		<li class="instruction">Collect and return food to your base.</li>
		<li class="instruction">Whoever has the most food after 3 rounds wins.</li>
		<li class="instruction">Trade food for upgrades between rounds.</li>
		<li class="instruction">Use arrow keys to move.  Use space to use item.</li>
	</ul>
	<br><br>
	<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>