<!DOCTYPE html>
<html>
<head>
	<title>Gojuki</title>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>

	<div id="content">
		<h1 id="title">GoJuki</h1>
		<a href="/party"><button id="play-btn" class="btn-primary">Play</button></a>
		<div id="links">
			<a href="#">How to play</a>
			<a href="#">About</a>
		</div>
	</div>

	<div id="how-to-play">
		<ul>
			<li class="instruction">Collect and return food to your base.</li>
			<li class="instruction">Whoever has the most food after 3 rounds wins.</li>
			<li class="instruction">Trade food for upgrades between rounds.</li>
			<li class="instruction">Use arrow keys to move.  Use space to use item.</li>
		</ul>
	</div>

</body>
</html>