<!DOCTYPE html>
<html>
<head>
	<title>Party</title>
</head>
<body>
	<h1>Party</h1>
	<div id="party" data-party-id="{{party_id}}"></div>
	<script type="text/javascript" src="/static/dist/party.bundle.js"></script>
</body>
</html>