<style type="text/css">
	
	html {
		min-width: 1056px;
	}

	body {
		margin: 0px;
	}

	#upgrades {
		padding: 30px;
		text-align: center;
	}

	#stats h3 {
		color: white;
		display: inline-block;
	}

	#food,
	#time-left {
		color: #e91e63;
	}

	#time-count {
		margin-left: 50px;
	}

	#items {
		overflow: auto;
		display: inline-block;
	}

	button {
		width: 50px;
		height: 30px;
		border: none;
		outline: none;
		background-color: #e91e63;
		color: white;
	}

	button:hover {
		cursor: pointer;
		background-color: #a01444;
	}

	.item {
		float: left;
		border: 1px solid #ccc;
		padding: 30px;
		margin: 20px;
		width: 230px;
		background-color: white;
	}
	
	.amount {
		font-size: 24px;
	}


	p {
		font-size: 10px;
		line-height: 1.75;
	}

	.disabled {
		opacity: .25;
		pointer-events: none;
	}

</style>

<div id="upgrades">

	<div id="stats">
		<h3 id="food-count">Food:<span id="food">{{data.food}}4</span></h3>
		<h3 id="time-count">Time to next round: <span id="time-left"></span> seconds...</h3>
	</div>

	<div id="items">
		<div class="item" data-type="goo" data-cost="5">
			<h3>Sticky Goo</h3>
			<p>Drop sticky goo to slow your opponents down for 5 seconds.</p>

			<br><strong class="amount">{{data.goo}}</strong><br><br><br>

			<button class="sell-btn">-</button>
			<button class="buy-btn">+</button>
			<p>Cost: 5</p>
		</div>
		<div class="item" data-type="speed" data-cost="8">
			<h3>Speed</h3>
			<p>Increase your top speed.</p>

			<br><strong class="amount">{{data.speed}}</strong><br><br><br>

			<button class="sell-btn">-</button>
			<button class="buy-btn">+</button>
			<p>Cost: 8</p>
		</div>
		<div class="item" data-type="food_carry_limit" data-cost="10">
			<h3>Food Carry Limit</h3>
			<p>Increase the amount of food you can hold at once.</p>

			<br><strong class="amount">{{data.food_carry_limit}}</strong><br><br><br>

			<button class="sell-btn">-</button>
			<button class="buy-btn">+</button>
			<p>Cost: 10</p>
		</div>

	</div>


</div>